
.mine-square {
  position: absolute;
  border: 1px solid #8c6a6a;
  /* background: yellow; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 10%;
  transition: background-color 200ms ease-in-out;
}

.mine-square.disabled {
  pointer-events: none;
}

.is-lose {
  background-color: red!important;
}

.is-win {
  background-color: yellow;
}

.revealed {
  background-color: darkgray;
  /* pointer-events: none; */
}
